# Python
__pycache__/
*.pyc

# Local data (tieni tutti i file, non ignoriamo data/)
# (se vorrai ignorare qualcosa di specifico lo aggiungiamo dopo)

# GPX (vogliamo TRACCIARE i .gpx, quindi non ignorarli)
# gpx/*.gpx
